atomicwrites==1.2.1
attrs==18.2.0
backports.ssl-match-hostname==3.5.0.1
blinker==1.4
cached-property==1.5.1
certifi==2018.11.29
chardet==3.0.4
Click==7.0
configobj==5.0.6
coverage==4.5.2
decorator==3.4.0
docker==3.7.0
docker-compose==1.23.2
docker-pycreds==0.4.0
dockerpty==0.4.1
docopt==0.6.2
enum34==1.1.6
Flask==1.0.2
funcsigs==1.0.2
functools32==3.2.3.post2
idna==2.7
iniparse==0.4
ipaddress==1.0.16
IPy==0.75
itsdangerous==1.1.0
javapackages==1.0.0
Jinja2==2.10
-e git+https://github.com/merovigen/student-exam2@54b41554db29857e0607733c02309c74ebd0ed7a#egg=js_example
jsonschema==2.6.0
kitchen==1.1.1
lxml==3.2.1
MarkupSafe==1.1.0
more-itertools==5.0.0
pathlib2==2.3.3
perf==0.1
pluggy==0.8.1
policycoreutils-default-encoding==0.1
py==1.7.0
pycurl==7.19.0
pygobject==3.22.0
pygpgme==0.3
pyliblzma==0.5.3
pytest==4.2.0
python-linux-procfs==0.4.9
pytoml==0.1.14
pyudev==0.15
pyxattr==0.5.1
PyYAML==3.10
registries==0.1
requests==2.20.1
scandir==1.9.0
schedutils==0.4
seobject==0.1
sepolicy==1.1
six==1.12.0
slip==0.4.0
slip.dbus==0.4.0
texttable==0.9.1
urlgrabber==3.10
urllib3==1.24.1
websocket-client==0.54.0
Werkzeug==0.14.1
yum-metadata-parser==1.1.4
